<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  

  <!-- Sidebar -->
  <div class="sidebar" style="margin-top: 0px; height: 100%;">
    <!-- Sidebar user panel (optional) -->
    <div th:insert="~{admin/layout :: menu}"></div>


    <!-- SidebarSearch Form -->
    
    <div style=" text-align: center;">
      <a href="?lang=vi">
        <button class="flag-button btn btn-primary" type="submit" name="lang" value="vi">
          <span class="flag-icon flag-icon-vn"></span>  VN
        </button>
      </a>
      <a href="?lang=en">
        <button class="flag-button btn btn-primary" type="submit" name="lang" value="en">
          <span class="flag-icon flag-icon-gb"></span>  EN
        </button>
      </a>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              <span th:text="#{menu.dashboard}"></span>
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#!/" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.products}"></span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!/account" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.accounts}"></span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!/discount" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.discounts}"></span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!/categories" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.product_categories}"></span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!/distributor" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.distributors}"></span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!/brands" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.brands}"></span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!/orders" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.orders}"></span></p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item menu-open">
          <div class="nav-link ">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              <span th:text="#{menu.reports}"></span>
              <i class="fas fa-angle-left right"></i>
            </p>
          </div>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#!/Revenue" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.revenue}"></span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!/ReportProduct" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.products_report}"></span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#!/ReportFavoriteProducts" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p><span th:text="#{menu.favorite_products_report}"></span></p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <br>
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">

          <a href="/client/logout" class="dropdown-item logout-button">Đăng xuất</a>

        </div>
        <style>
          .logout-button {
            width: 100%;
            height: 40px;
            background-color: red;
            text-align: center;
            border: 1px solid black;
            color: white;
            /* Thay đổi màu chữ */
            text-decoration: none;
            /* Loại bỏ gạch chân */
            padding: 10px;
            /* Khoảng cách nội dung và biên của liên kết */
            display: block;
            /* Hiển thị dạng block để chiếm toàn bộ chiều ngang */
            transition: background-color 0.3s;
            /* Hiệu ứng chuyển đổi màu nền */
          }

          .logout-button:hover {
            background-color: white;
            color: black !important;
            /* Màu nền khi hover */
          }
        </style>
      </div>
    </nav>



    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="myCtrl3">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Khuyến mãi</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Khuyến mãi</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container mt-4">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" role="tab"
            aria-controls="home" aria-selected="true">Danh sách</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" role="tab"
            aria-controls="profile" aria-selected="false">Cập nhật</button>
        </li>
      </ul>


      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="ml-auto" style="margin-top: 15px; padding-right: 15px">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Tìm kiếm..." />
            </div>
          </div>
          <table id="example1" class="table table-bordered table-striped">
            <style>
              div.dataTables_wrapper div.dataTables_filter label {
                display: none;
              }

              div.dataTables_wrapper div.dataTables_filter input {
                display: none;
              }

              .dataTables_empty {
                display: none;
              }
            </style>
            <thead>
              <tr>
                <th>Sản phẩm khuyến mãi</th>
                <th>Giá khuyến mãi</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Tùy chỉnh</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="discount in getCurrentPageDiscounts()">
                <td>{{discount.product.name}}</td>
                <td>{{discount.discountAmount}}</td>
                <!-- Định dạng ngày bắt đầu discount -->
                <td>{{ discount.startDate | date : 'dd/MM/yyyy' }}</td>

                <!-- Định dạng ngày kết thúc discount -->
                <td>{{ discount.endDate | date : 'dd/MM/yyyy' }}</td>

                <td>
                  <a class="fas fa-trash-alt" ng-click="delete(discount.id)"></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer text-center">
            <button ng-click="setPage(1)" class="btn btn-primary">
              <i class="fas fa-arrow-circle-up"></i>
            </button>
            <button ng-click="setPage(currentPage - 1)" class="btn btn-primary">
              <i class="fas fa-arrow-circle-left"></i>
            </button>
            <button class="btn btn-success">{{currentPage }} of {{totalPages()}}</button>
            <button ng-click="setPage(currentPage + 1)" class="btn btn-primary">
              <i class="fas fa-arrow-circle-right"></i>
            </button>
            <button ng-click="setPage(totalPages())" class="btn btn-primary">
              <i class="fas fa-arrow-circle-down"></i>
            </button>
          </div>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form>
            <div class="card-body">

              <!-- select -->
              <div class="form-group">
                <label>Loại thuốc</label>
                <select class="form-control" ng-model="form.product.id"
                  ng-options="item.id as item.name for item in items | filter:{active: true}">
                  <option value="">Chọn sản phẩm</option>
                </select>
                </select>

              </div>
              <div class="form-group"> <label for="exampleInputEmail1">Giá giảm</label>
                <input type="number" class="form-control" ng-model="form.discountAmount" id="exampleInputEmail1"
                  placeholder="Nhập giá giảm">
              </div>
              <!-- Date and time range -->
              <div class="form-group">
                <label>Ngày và giờ:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                  </div>
                  <input type="text" class="form-control float-right" id="reservationtime" ng-model="form.dateRange"
                    ng-change="updateDateRange(form.dateRange)">
                </div>
                <!-- /.input group -->
              </div>

              <!-- Input ẩn để lưu giữ ngày bắt đầu -->
              <input type="hidden" ng-model="form.startDate" />

              <!-- Input ẩn để lưu giữ ngày kết thúc -->
              <input type="hidden" ng-model="form.endDate" />

              <!-- /.form group -->
          </form>
          <div class="panel-footer text-center">
            <button ng-click="create()" class="btn btn-primary">
              <i class="fas fa-plus"></i>
              lưu
            </button>
            <button ng-click="reset()" class="btn btn-info">
              <i class="fas fa-redo-alt"></i>
              làm mới
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->

    <!-- /.card-body -->
  </div>
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
</div>
<!-- ./wrapper -->


<script>
  $(function () {
    $("#example1")
      .DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
      })
      .buttons()
      .container()
      .appendTo("#example1_wrapper .col-md-6:eq(0)");
  });
</script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date picker
    $('#reservationdate').datetimepicker({
      format: 'L'
    });

    //Date and time picker
    $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })
  });


        // DropzoneJS Demo Code End
</script>